<div class="row">
  <div class="col-xs-4">
    {{render 'tweet-form'}}
  </div>

  <div class="col-xs-6">
    <ul>
      {{#each}}
        <li>
          <h4>{{user}}</h4>
          <p>{{text}}</p>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
